astroid==2.4.2
autopep8==1.5.4
bidict==0.21.4
bottle==0.12.19
bottle-websocket==0.2.9
brotlipy==0.7.0
certifi==2020.12.5
cffi
chardet 
click==8.0.3
colorama==0.4.4
conda==4.9.2
conda-package-handling 
cryptography
Eel==0.14.0
Flask==2.0.2
Flask-SocketIO==4.3.1
future==0.18.2
gevent==21.8.0
gevent-websocket==0.10.1
greenlet==1.1.2
idna 
isort==4.3.21
itsdangerous==2.0.1
Jinja2==3.0.3
lazy-object-proxy==1.4.3
livereload==2.6.3
MarkupSafe==2.0.1
mccabe==0.6.1
menuinst==1.4.16
pycodestyle==2.6.0
pycosat==0.6.3
pycparser 
pylint==2.5.3
pyOpenSSL 
pyparsing==3.0.6
PySocks
python-engineio==3.13.2
python-socketio==4.6.0
pywin32==227
requests 
ruamel-yaml-conda 
sip==4.19.13
six 
toml==0.10.2
tornado==6.1
tqdm 
urllib3
websockets==10.1
Werkzeug==2.0.2
whichcraft==0.6.1
win-inet-pton 
wincertstore==0.2
wrapt==1.12.1
zope.event==4.5.0
zope.interface==5.4.0
