@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
.icon-row {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.icon-row i {
  color: #9494a3;
}
.selected {
  color: #0e71eb;
  font-weight: bold;
}
.selected i {
  color: #0e71eb;
}
.pfp {
  background-image: url("../img/default-avatar.png");
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  float: right;
}
.logo {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: transparent;
  pointer-events: none;
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  margin: 0;
  user-select: none;
}
.main {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-box {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #0e72ed;
  padding: 30px;
  border-radius: 30px;
  cursor: pointer;
}
.icon-box i {
  color: white !important;
}
.orange {
  background-color: #f26d21;
}
.meetings-card {
  height: 200px;
  background-image: url("../img/72.jpg");
  background-size: cover;
  background-position: center;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.pointer {
  cursor: pointer;
}
.control-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: inherit;
  background-color: #1a1c1e;
  padding: 10px;
  color: #d7d7d7;
  text-align: center;
  user-select: none;
}
.control-bar i {
  color: #d7d7d7;
}
.col-cbar {
  display: flex;
}
.video-main {
  padding: 0;
  margin: 0;
}
.h-20 {
  height: 20%;
}
.h-80 {
  height: 80%;
}
.chat-input {
  border-top: 1px solid #efeff3;
  border-bottom: 0px solid transparent;
  border-right: 0px solid transparent;
  border-left: 0px solid transparent;
  z-index: 100;
}
.message-box {
  margin: 0 !important;
  padding: 10px;
  word-wrap: break-word;
  position: absolute;
  top: 0;
  bottom: 0;
  max-height: calc(100vh - 20%);
  width: 20vw !important;
  overflow: auto;
}
.chat-message {
  background-color: #f2f2f7;
  padding: 10px;
  border: 1px solid #efeff3;
  border-radius: 10px;
  resize: none;
}
.exit-button {
  float: right;
}
.main__videos {
  flex-grow: 1;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__meeting {
  height: 100vh;
  display: flex;
}

.main__left {
  flex: 0.8;
  display: flex;
  flex-direction: column;
}

.main__right {
  flex: 0.2;
}
.main__controls {
  color: #d2d2d2;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
#video-grid{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#video-grid-plus5{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 320px;
}
video {
  height: 320px;
  width: 240px;
  object-fit: contain;
  pointer-events: none;
}
